.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.menuButton {
  padding: 10pt 20pt;
  background-color: #e2732e;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.menuButton:hover {
  background-color:   #e88243;
}

[data-theme="dark"] .menuButton {
  background-color: #e37741;
}

[data-theme="dark"] .menuButton:hover {
  background-color:#e58051;
}