.container {
  text-align: center;
}

.nav {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.link {
  padding: 10pt 20pt;
  background-color: #e2732e;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.link:hover {
  background-color:   #e88243;
}

[data-theme="dark"] .link {
  background-color: #e37741;
}

[data-theme="dark"] .link:hover {
  background-color: #e58051;
}