.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBar {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}

.selectInput,
.textInput {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  transition: border-color 0.3s ease;
}

.selectInput {
  width: 180px;
}

.textInput {
  flex: 1;
}

.selectInput:focus,
.textInput:focus {
  outline: none;
  border-color: #0070f3;
}

.submitButton {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: #0070f3;
  color: white;
  transition: background-color 0.3s ease;
}

.submitButton:hover:enabled {
  background-color: #005ac1;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* cards */

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.porcentagem {
  font-size: 0.875rem;
  color: #323232;
  margin-top: 0.25rem;
}

.infoTitulo {
  font-size: 0.875rem;
  color: #848484;
  margin-top: 0.25rem;
}

.krCard {
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 12px;
  margin-top: 1rem;
}

.krHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.krTitulo {
  font-weight: 600;
  color: #222222;
  font-size: 0.95rem;
}

.iniciativasContainer {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.iniciativaCard {
  min-width: 200px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 0.75rem;
  flex-shrink: 0;
}

.iniciativaTitulo {
  font-weight: 600;
  color: #222222;
  font-size: 0.95rem;
}


/* Dark mode - cards */

[data-theme="dark"] .porcentagem {
  color: #cbcbcb;
}

[data-theme="dark"] .infoTitulo {
  color: #898989;
}

[data-theme="dark"] .krCard {
  background-color: rgb(45, 49, 67);
}

[data-theme="dark"] .krTitulo {
  color: #eeeeee;
}

[data-theme="dark"] .iniciativaCard {
  background-color:  rgb(32, 35, 48);
}

[data-theme="dark"] .iniciativaTitulo {
  color: #eeeeee;
}



/* Dark mode */

[data-theme="dark"] .selectInput,
[data-theme="dark"] .textInput {
  background-color:  rgb(45, 49, 67);
  color: #f0f0f0;
}

[data-theme="dark"] .selectInput:focus,
[data-theme="dark"] .textInput:focus {
  border-color: #3391ff;
}

[data-theme="dark"] .submitButton {
  background-color: #3391ff;
  color: white;
}

[data-theme="dark"] .submitButton:hover:enabled {
  background-color: #1a73e8;
}
